
header .wrapper {
  display: flex;
  justify-content: space-between;
  h1 {
    font-family: $heading_font;
    font-size: 46px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #000;
    margin: 2rem;
  }
  nav {
    
    ul {
      display: flex;
      justify-content: space-between;
      margin: 1.2rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          margin: 0 1.25rem;
          @include subheading(15px);
          color: #000;
        }
        a:hover,
        a:active,
        a:focus-within {
            color: $deep_green;
        }
      }
    }
  }
}




