
// Header
.home_header {
    @include hero_image(75vh);
    background-image: url(../assets/home-1.jpeg);
}

// Main
.home_main .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    .m_p_e{
        text-align: center;
        padding: 10rem 6rem;
        h2{
            @include subheading;
        }
        .green_accent {
            @include green_accent;
        }
        p {
            @include p_font;
            margin: 3.5rem auto;
        }
        button {
            @include button;
        }
        button:hover,
        button:focus-within {
            @include button_hover;
        }
    }
    .menu {
        background-color: $white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2.5rem 5rem;
        padding: 7.5rem 6rem 5rem;
        .menu_div {
            display: grid;
            grid-template-columns: 10% 88%;
            grid-gap: 2rem;
            padding-right: 5rem;
            span {
                font-size: 30px;
            }
            .menu_text{
                margin-top: -2rem;
                h3{
                    @include subheading(15px, 14px);
                }
                p{
                    @include p_font(12px, 18px);
                }
            }
        }
    }
}

// Our Restaurants section
.our_restaurant .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15rem;
    .restaurant_img {
        position: relative;
        margin-top: 5rem;
        width: 40%;
        .circle_text{
            position: absolute;
            width: 30%;
            top: calc(100% - 35rem);
            right: calc(100% - 55rem);
        }
    }
    h2 {
        @include subheading;
        margin-top: 5rem;
    }
    .green_accent {
        @include green_accent;
        margin-bottom: 5rem;
    }
    p{
        @include p_font;
        width: 66%;
    }
}

// Gallery
.gallery .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}