// Portrait tablet and small desktops
@media (max-width: 940px) {
    // header
    header nav {
        position: relative;
        .my_links{
            flex-direction: column;
            background-color: $white;
            position: absolute;
            left: -12rem;
        }
        .hidden {
            display: none;
        }
        .show {
            display: block;
        }
    }

    // Home Main
    .home_main .wrapper{
        grid-template-columns: 100%;
        grid-gap: 0;
        .veggie,
        .taco,
        .m_p_e,
        .menu {
            grid-column: 1/-1;
        }
    }
    // Our Restaurants Section
    .our_restaurant .wrapper {
        background-image: url(../assets/home-circle-text.png);
        background-position: 50% 100%;
        background-size: 10%;
        background-repeat: no-repeat;
        margin: auto -15rem;
        .restaurant_img {
            width: 100%;
            .circle_text{
                display: none;
            }
            p{
                width: 90%;
            }
        }
    }
    // Gallery section
    .gallery .wrapper {
        margin-top: 15rem;
    }
    // BLOG
    // Main: About Author
    .author {
        flex-direction: column;
    }
    // Footer
    .browse {
        grid-template-columns: 100%;
        .footer_columns {
            grid-column: 1/-1;
        }
    }
}





// landscape view from 940px to less
@media (max-width: 940px) and (orientation: landscape) {
    // Hungry Clients section
    .close_quotation {
        padding-top: 16rem;
    }
}




// portrait size from 480px less
@media (max-width: 480px) {
    // Home Main
    .menu {
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .vegetarian,
    .appetizers,
    .desserts,
    .drinks,
    .side_dishes,
    .salads {
        grid-column: 1/-1;
    }
    // Gallery section 
    .no_display {
        display: none;
    }
    .photo1,
    .photo2,
    .photo3 {
        grid-column: 1/-1;
    }

    // Hungry Clients section
    .hungry_textbox {
        margin: -5rem -15rem;
    }
    // BLOG
    // Main: Author
    .tags_share {
        border-bottom: none;
        nav {
            ul {
                flex-direction: column;
                justify-content: space-between;
                li {
                    margin: 3.5px auto;
                }
             }  
        }
    }
    // Footer
    .browse {
        margin: 5rem -10rem;
        .footer_columns {
            margin: auto -5.5rem;
            .socialmedia a {
                margin: auto 2rem;
            }
        }
    }
    .copyright {
        margin: auto -12rem;
    }
}