
// Font mixins:
@mixin subheading($subheading_size: 18px, $subheading_lh: 36px) {
    font-family: $heading_font;
    font-size: $subheading_size;
    line-height: $subheading_lh;
    letter-spacing: 0.5px;
}

@mixin p_font($p_size: 14px, $p_lh: 24px, $p_t_a: center) {
    font-family: $p_font;
    text-align: $p_t_a;
    font-size: $p_size;
    line-height: $p_lh;
    letter-spacing: 0.3px;
}

// Green Accent Line
@mixin green_accent($green_accent_height: 5px) {
    width: 60px;
    height: $green_accent_height;
    background-color: $deep_green;
    color: transparent;
    margin: auto;
}

// Button
@mixin button($p_l_r: 3rem){
    background-color: $deep_green;
    color: #fff;
    border: none;
    padding: 1rem $p_l_r;
    font-family: $heading_font;
}
@mixin button_hover {
    background-color: $green;
    color: #000;
}

// hero image
@mixin hero_image($vh: 50vh) {
    background-color: $green;
    background-size: cover;
    height: $vh;
    background-position: center center;
}

