// Theme colour Palette
$brown_grey: #999999;
$black: #2E2E2E;
$white: #F6F6F6;
$black2: #333333;
$green: #DDED9A;
$deep_green: #64A604;

// Font
$heading_font: "Raleway", sans-serif;
$p_font: "Lora", serif;

// Footer border line
$footer_bb: 0.5px solid #ffffff7e;
