@import 'setup';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'home';
@import 'blog';
@import 'contact';
@import 'footer';
@import 'media';

html{
    font-size: 62.5%;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    width: 100%;
}