html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper h1 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
  color: #000;
  margin: 2rem;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.2rem;
}

header .wrapper nav ul li {
  list-style: none;
}

header .wrapper nav ul li a {
  text-decoration: none;
  margin: 0 1.25rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
}

header .wrapper nav ul li a:hover,
header .wrapper nav ul li a:active,
header .wrapper nav ul li a:focus-within {
  color: #64A604;
}

.home_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 75vh;
  background-position: center center;
  background-image: url(../assets/home-1.jpeg);
}

.home_main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.home_main .wrapper .m_p_e {
  text-align: center;
  padding: 10rem 6rem;
}

.home_main .wrapper .m_p_e h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.home_main .wrapper .m_p_e .green_accent {
  width: 60px;
  height: 5px;
  background-color: #64A604;
  color: transparent;
  margin: auto;
}

.home_main .wrapper .m_p_e p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 3.5rem auto;
}

.home_main .wrapper .m_p_e button {
  background-color: #64A604;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  font-family: "Raleway", sans-serif;
}

.home_main .wrapper .m_p_e button:hover,
.home_main .wrapper .m_p_e button:focus-within {
  background-color: #DDED9A;
  color: #000;
}

.home_main .wrapper .menu {
  background-color: #F6F6F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 2.5rem 5rem;
  padding: 7.5rem 6rem 5rem;
}

.home_main .wrapper .menu .menu_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 88%;
      grid-template-columns: 10% 88%;
  grid-gap: 2rem;
  padding-right: 5rem;
}

.home_main .wrapper .menu .menu_div span {
  font-size: 30px;
}

.home_main .wrapper .menu .menu_div .menu_text {
  margin-top: -2rem;
}

.home_main .wrapper .menu .menu_div .menu_text h3 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.home_main .wrapper .menu .menu_div .menu_text p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

.our_restaurant .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15rem;
}

.our_restaurant .wrapper .restaurant_img {
  position: relative;
  margin-top: 5rem;
  width: 40%;
}

.our_restaurant .wrapper .restaurant_img .circle_text {
  position: absolute;
  width: 30%;
  top: calc(100% - 35rem);
  right: calc(100% - 55rem);
}

.our_restaurant .wrapper h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 5rem;
}

.our_restaurant .wrapper .green_accent {
  width: 60px;
  height: 5px;
  background-color: #64A604;
  color: transparent;
  margin: auto;
  margin-bottom: 5rem;
}

.our_restaurant .wrapper p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 66%;
}

.gallery .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.hungry_clients .wrapper {
  background-color: #DDED9A;
  margin-top: -2rem;
  text-align: center;
}

.hungry_clients .wrapper .hungry_textbox {
  padding: 10rem;
}

.hungry_clients .wrapper .hungry_textbox h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.hungry_clients .wrapper .hungry_textbox .green_accent {
  width: 60px;
  height: 3px;
  background-color: #64A604;
  color: transparent;
  margin: auto;
}

.hungry_clients .wrapper .hungry_textbox .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 5rem auto;
}

.hungry_clients .wrapper .hungry_textbox .quote p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-style: italic;
  margin: auto 2rem;
}

.hungry_clients .wrapper .hungry_textbox .quote .quotations {
  color: #F6F6F6;
  font-size: 40px;
}

.hungry_clients .wrapper .hungry_textbox .quote .close_quotation {
  margin-top: calc(40vh - 40%);
}

.hungry_clients .wrapper .hungry_textbox .arrows {
  font-size: 20px;
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.hungry_clients .wrapper .hungry_textbox .arrows a {
  color: #F6F6F6;
}

.hungry_clients .wrapper .hungry_textbox .arrows a:hover,
.hungry_clients .wrapper .hungry_textbox .arrows a:active,
.hungry_clients .wrapper .hungry_textbox .arrows a:focus-within,
.hungry_clients .wrapper .hungry_textbox .arrows a:focus-visible {
  color: #fff;
}

.blog_wrapper {
  max-width: 75%;
  margin: 0 auto;
}

.blog_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 50vh;
  background-position: center center;
  background-image: url(../assets/blog-1.jpeg);
}

.blog_post {
  margin: 10rem auto 5rem;
}

.blog_post h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.blog_post p {
  font-family: "Lora", serif;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  height: 45%;
  margin: 2.5rem auto;
}

.blog_post .blog_date {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: -1rem auto 2rem;
}

.tags_share {
  margin-bottom: 5rem;
  height: 8rem;
  border-bottom: 1px solid #99999975;
  border-top: 1px solid #99999975;
}

.tags_share nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags_share nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags_share nav ul li {
  list-style: none;
}

.tags_share nav ul li a {
  text-decoration: none;
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #999999;
  margin: auto 1.2rem;
}

.tags_share nav ul li a:hover,
.tags_share nav ul li a:active,
.tags_share nav ul li a:focus-within {
  color: #333333;
}

.tags_share nav .p_heading {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author .author_img {
  width: 25%;
  padding-right: 5rem;
}

.author .author_about {
  background-color: #F6F6F6;
  padding: 4rem;
}

.author .author_about h3 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.author .author_about p {
  font-family: "Lora", serif;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.contact_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 50vh;
  background-position: center center;
  background-image: url(../assets/contact-1.jpeg);
}

footer .wrapper {
  background-color: #333333;
  margin: -2rem auto;
}

footer .wrapper .browse {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 5rem 10rem;
  margin-left: 4rem;
}

footer .wrapper .browse .footer_columns {
  padding: 3rem;
  width: 73%;
}

footer .wrapper .browse h2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #64A604;
}

footer .wrapper .browse p {
  font-family: "Lora", serif;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #F6F6F6;
}

footer .wrapper .browse .column1 p {
  border-bottom: 0.5px solid #ffffff7e;
  padding: 2rem auto;
}

footer .wrapper .browse h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
}

footer .wrapper .browse li {
  list-style: none;
}

footer .wrapper .browse li a {
  text-decoration: none;
  font-family: "Lora", serif;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #F6F6F6;
  margin: 2rem auto 2rem -3.6rem;
}

footer .wrapper .browse li a:hover,
footer .wrapper .browse li a:active,
footer .wrapper .browse li a:focus-within {
  color: #DDED9A;
}

footer .wrapper .browse .column2 a {
  border-bottom: 0.5px solid #ffffff7e;
}

footer .wrapper .browse .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem auto;
}

footer .wrapper .browse .subscribe input {
  width: 70%;
  height: 30px;
  background-color: #999999;
  border: none;
  font-family: "Lora", serif;
  text-align: left;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #fff;
  padding: 10px;
}

footer .wrapper .browse .subscribe button {
  background-color: #64A604;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-family: "Raleway", sans-serif;
}

footer .wrapper .browse .subscribe button:hover,
footer .wrapper .browse .subscribe button:active,
footer .wrapper .browse .subscribe button:focus-within {
  background-color: #DDED9A;
  color: #000;
}

footer .wrapper .browse .socialmedia {
  width: 45%;
}

footer .wrapper .browse .socialmedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .wrapper .browse .socialmedia ul a {
  font-size: 18px;
}

footer .wrapper .browse .socialmedia ul a:hover,
footer .wrapper .browse .socialmedia ul a:active,
footer .wrapper .browse .socialmedia ul a:focus-within {
  color: #DDED9A;
}

.copyright {
  background-color: #2E2E2E;
  padding: 0.5rem 15rem;
}

.copyright p {
  font-family: "Lora", serif;
  text-align: left;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #F6F6F6;
}

.copyright p span {
  color: #64A604;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  header nav {
    position: relative;
    margin: 2rem;
  }
  header nav .show {
    display: block;
  }
  header nav .my_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F6F6F6;
    position: absolute;
    left: -12rem;
  }
  header nav .hidden {
    visibility: collapse;
  }
  header nav .icon {
    font-size: 20px;
    margin: auto 3rem;
  }
  .home_main .wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 0;
  }
  .home_main .wrapper .veggie,
  .home_main .wrapper .taco,
  .home_main .wrapper .m_p_e,
  .home_main .wrapper .menu {
    grid-column: 1/-1;
  }
  .our_restaurant .wrapper {
    background-image: url(../assets/home-circle-text.png);
    background-position: 50% 100%;
    background-size: 10%;
    background-repeat: no-repeat;
    margin: auto -15rem;
  }
  .our_restaurant .wrapper .restaurant_img {
    width: 100%;
  }
  .our_restaurant .wrapper .restaurant_img .circle_text {
    display: none;
  }
  .our_restaurant .wrapper .restaurant_img p {
    width: 90%;
  }
  .gallery .wrapper {
    margin-top: 15rem;
  }
  .author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .browse {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .browse .footer_columns {
    grid-column: 1/-1;
  }
}

@media (max-width: 940px) and (orientation: landscape) {
  .close_quotation {
    padding-top: 16rem;
  }
}

@media (max-width: 480px) {
  .menu {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 0;
  }
  .vegetarian,
  .appetizers,
  .desserts,
  .drinks,
  .side_dishes,
  .salads {
    grid-column: 1/-1;
  }
  .no_display {
    display: none;
  }
  .photo1,
  .photo2,
  .photo3 {
    grid-column: 1/-1;
  }
  .hungry_textbox {
    margin: -5rem -15rem;
  }
  .tags_share {
    border-bottom: none;
  }
  .tags_share nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tags_share nav ul li {
    margin: 3.5px auto;
  }
  .browse {
    margin: 5rem -10rem;
  }
  .browse .footer_columns {
    margin: auto -5.5rem;
  }
  .browse .footer_columns .socialmedia a {
    margin: auto 2rem;
  }
  .copyright {
    margin: auto -12rem;
  }
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}
