html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (max-width: 940px) {
  .hamburger {
    visibility: visible;
  }
  nav ul {
    visibility: hidden;
  }
  .home_main .wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 0;
  }
  .home_main .wrapper .veggie,
  .home_main .wrapper .taco,
  .home_main .wrapper .m_p_e,
  .home_main .wrapper .menu {
    grid-column: 1/-1;
  }
  .our_restaurant .wrapper {
    background-image: url(../assets/home-circle-text.png);
    background-position: 50% 100%;
    background-size: 10%;
    background-repeat: no-repeat;
    margin: auto -15rem;
  }
  .our_restaurant .wrapper .restaurant_img {
    width: 100%;
  }
  .our_restaurant .wrapper .restaurant_img .circle_text {
    display: none;
  }
  .our_restaurant .wrapper .restaurant_img p {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .menu {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 0;
  }
  .vegetarian,
  .appetizers,
  .desserts,
  .drinks,
  .side_dishes,
  .salads {
    grid-column: 1/-1;
  }
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper h1 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  line-height: 24px;
  letter-spacing: 1.1px;
  color: #000;
  margin: 2rem;
}

header .wrapper nav .hamburger {
  visibility: collapse;
}

header .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.2rem;
}

header .wrapper ul li {
  list-style: none;
}

header .wrapper ul li a {
  text-decoration: none;
  margin: 0 1.25rem;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #000;
}

header .wrapper ul li a:hover,
header .wrapper ul li a:active,
header .wrapper ul li a:focus-within {
  color: #64A604;
}

.home_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 75vh;
  background-position: center center;
  background-image: url(../assets/home-1.jpeg);
}

.home_main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.home_main .wrapper .m_p_e {
  text-align: center;
  padding: 10rem 6rem;
}

.home_main .wrapper .m_p_e h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.home_main .wrapper .m_p_e .green_accent {
  width: 60px;
  height: 5px;
  background-color: #64A604;
  color: transparent;
  margin: auto 45%;
}

.home_main .wrapper .m_p_e p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 3.5rem auto;
}

.home_main .wrapper .m_p_e button {
  background-color: #64A604;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  font-family: "Raleway", sans-serif;
}

.home_main .wrapper .m_p_e button:hover,
.home_main .wrapper .m_p_e button:focus-within {
  background-color: #DDED9A;
  color: #000;
}

.home_main .wrapper .menu {
  background-color: #F6F6F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 2.5rem 5rem;
  padding: 7.5rem 6rem 5rem;
}

.home_main .wrapper .menu .menu_div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 88%;
      grid-template-columns: 10% 88%;
  grid-gap: 2rem;
  padding-right: 5rem;
}

.home_main .wrapper .menu .menu_div span {
  font-size: 30px;
}

.home_main .wrapper .menu .menu_div .menu_text {
  margin-top: -2rem;
}

.home_main .wrapper .menu .menu_div .menu_text h3 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

.home_main .wrapper .menu .menu_div .menu_text p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3px;
}

.our_restaurant .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15rem;
}

.our_restaurant .wrapper .restaurant_img {
  position: relative;
  margin-top: 5rem;
  width: 40%;
}

.our_restaurant .wrapper .restaurant_img .circle_text {
  position: absolute;
  width: 30%;
  top: calc(100% - 35rem);
  right: calc(100% - 55rem);
}

.our_restaurant .wrapper h2 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-top: 5rem;
}

.our_restaurant .wrapper .green_accent {
  width: 60px;
  height: 5px;
  background-color: #64A604;
  color: transparent;
  margin: auto 45%;
  margin-bottom: 5rem;
}

.our_restaurant .wrapper p {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 66%;
}

.blog_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 50vh;
  background-position: center center;
  background-image: url(../assets/blog-1.jpeg);
}

.contact_header {
  background-color: #DDED9A;
  background-size: cover;
  height: 50vh;
  background-position: center center;
  background-image: url(../assets/contact-1.jpeg);
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}
